<section class="featured-works">
    <div class="container">
        <div class="work-title">
            <p>Work</p>
        </div>
        <div class="row-1"  *ngFor="let posts of Worklisst">
            <div class="col-1">
                <img src="./assets/img/{{ posts.image }}" alt="" class="image">
                <div class="text-content">
                    <h3 class="text-heading">
                        <a href=""> {{ posts.title }}</a>
                    </h3>
                    <div class="date_category">
                        <span class="date">{{ posts.createAt }}</span>
                        <span class="category">{{ posts.categoryWorkId }}</span>
                    </div>
                    <p class="text-desc">
                        {{ posts.short_desc }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
