a{
    text-decoration: none;
  }
  .container{
    width: 800px;
    margin: 0 auto;
    
  }
.featured-works{
    padding: 100px;
}
  
  .work-title{
    font-size: 44px;
    font-weight: bold;
  }
  .col-1 {
    display: grid;
    grid-template-columns: 246px auto;
    grid-gap: 18px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
    padding-top: 30px;
    width: 690px;
  }
  .row-1 .text-heading {
    font-size: 30px;
  }
  .row-1 .date {
    font-size: 18px;
  }
  .row-1  .category{
    font-size: 20px;
  }
  .row-1 .text-desc {
    font-size: 16px;
  }
  .col-1 .image {
    width: 100%;
  }
  .col-1 .date_category {
    margin: 19px 0;
  }
  .col-1 .date{
    background-color: #142850;
    color: #fff;
    font-weight: bold;
    border-radius: 16px;
    padding: 2px 10px;
    margin: 25px;
  }
  .row-1 .text-heading a {
      text-decoration: none;
      color: #000;
  }
  
  