<section>
    <div class="container">
        <div class="introduce">
            <div class="about" *ngFor="let x of Userlist">
                <h1 class="name">
                    Hi, I am <span>{{x.name}}</span>  ,
                </h1>
                <h1 class="job-position">{{x.position}}</h1>
                <p class="desc">{{x.about}}
                </p>
                <button class="button-download">Download Resume</button>
            </div>


            <div>
                <img src="https://i.ibb.co/JpnWg5D/anh.jpg" alt="" class="img">
            </div>
        </div>
    </div>

</section>
<section class="recent-blog">
    <div class="container">
        <div class="blog">
            <div class="blog-top">
                <div class="title-post">
                    <p>Recent posts</p>
                </div>
                <div class="view-all">
                    <a href="/Blogpage">View all</a>
                </div>
            </div>

            <div class="row" *ngFor="let posts of PostsList">
                <div class="col">
                    <h3 class="heading-blog"><a href="Blogpage/{{ posts.id }}">{{ posts.title }}</a></h3>
                    <div class="date-category">
                        <span class="date">
                            {{ posts.createAt }}
                        </span>
                        <span class="category"> |
                            Figma, Icon Design
                        </span>
                    </div>
                    <p class="desc">{{ posts.short_desc }}</p>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="featured-works">
    <div class="container">
        <div class="work-title">
            <p>Featured works</p>
        </div>
        <div class="row-1" *ngFor="let work of Worklist">
            <div class="col-1">
                <img src="./assets/img/{{ work.image }}" alt="" class="image">
                <div class="text-content">
                    <h3 class="text-heading">
                        <a href="Workspage/{{ work.id }}"> {{ work.title }}</a>
                    </h3>
                    <div class="date_category">
                        <span class="date">{{ work.createAt }}</span>
                        <span class="category">{{ work.categoryWorkId }}</span>
                    </div>
                    <p class="text-desc">
                        {{ work.short_desc }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
