<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">status</th>

        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of ProductList; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{products.name}}</td>
        <td>{{products.price}}</td>
        <td>{{products.status ? "còn Hàng" : "Hết hàng"}}</td>
        <td>
          <button class="btn btn-danger" (click)="onShow(products.id)">Show</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="productDeail">
    <td>{{productDeail.name}}</td>
    <td>{{productDeail.price}}</td>
</div>

