<h2>Thêm sản Phẩm</h2>
{{ works | json }}
<form action="" (ngSubmit)="onSubmit()">
<div class="form-floating mb-3">
    <input type="text" [(ngModel)]="works.title" class="form-control" id="floatingInput" placeholder="title" name="title">
    <label for="floatingInput">title</label>
  </div>
  <div class="form-floating">
    <input type="text" [(ngModel)]="works.image" class="form-control" id="floatingPassword" placeholder="image" name="image">
    <label for="floatingPassword">image</label>
  </div>
  <div class="form-floating mb-3">
    <input type="date" [(ngModel)]="works.createAt" class="form-control" id="floatingInput" placeholder="createAt" name="createAt">
    <label for="floatingInput">createAt</label>
  </div>
  <div class="form-floating">
    <input type="text" [(ngModel)]="works.categoryWorkId" class="form-control" id="floatingPassword" placeholder="categoryWorkId" name="categoryWorkId">
    <label for="floatingPassword">categoryWorkId</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" [(ngModel)]="works.short_desc" class="form-control" id="floatingInput" placeholder="short desc" name="short_desc">
    <label for="floatingInput">short desc</label>
  </div>
  <div class="form-floating">
    <input type="text" [(ngModel)]="works.desc" class="form-control" id="floatingPassword" placeholder="desc" name="desc">
    <label for="floatingPassword">desc</label>
  </div>
  <button  class="btn btn-primary">Thêm</button>
</form>
