<section class="recent-blog">
    <div class="container">
        <div class="blog">
            <div class="blog-top">
                <div class="title-post">
                    <p>Blog</p>
                </div>
            </div>

            <div class="row" *ngFor="let posts of PostsList">
                <div class="col">
                    <img src="./assets/img/{{ posts.image }}" alt="" class="image">
                    <div>
                        <h3 class="heading-blog"><a href="Blogpage/{{ posts.id }}">{{ posts.title }}</a></h3>
                    <div class="date-category">
                        <span class="date">
                            {{ posts.createAt }}
                        </span>
                        <span class="category"> |
                            Figma, Icon Design
                        </span>
                    </div>
                    <p class="desc">{{ posts.short_desc }}</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>
